<body>
  <main class="main-bg">
  <img src="../../../assets/pixelcut-export-cut.jpeg" alt="">
  <div class="main-container">
    <h1 id="estudio">ESTUDIO PERICIAL</h1><h1 id="patitucci">Patitucci</h1>
  </div>
</main>
<section id="section-nosotros">
  <div class="section-container">
    <h2>Sobre nosotros</h2>
    <h3>
      Con más de 20 años de trayectoria, somos expertos en la gestión integral de siniestros. Asesoramos a compañías de seguros, siempre priorizando la responsabilidad, la honestidad y la adaptabilidad para ofrecer soluciones eficientes y personalizadas.
Nuestra prioridad es garantizar la satisfacción de nuestros clientes.

    </h3>
  </div>
</section>
<section id="section-mision" class="container">
  <div class="container mision-container">
    <div class="row">
      <div class="card card-left" data-aos="fade-right"  data-aos-duration="400">
        <div class="card-body" >
          <h5 class="card-title">Misión</h5>
          <p class="card-text">
            Brindar un servicio de peritaje automotriz independiente, objetivo y transparente, asegurando la correcta valoración de los daños y contribuyendo a la resolución eficiente de los siniestros.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card card-right" data-aos="fade-left"  data-aos-duration="400">
        <div class="card-body">
          <h5 class="card-title">Visión</h5>
          <p class="card-text">
            Colaborar a un sistema justo y transparente donde el peritaje automotor sea un proceso ágil, contribuyendo a la mejora continua de la industria aseguradora.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card card-left" data-aos="fade-right"  data-aos-duration="400">
        <div class="card-body">
          <h5 class="card-title">Valores</h5>
          <p class="card-text">
            COMPROMISO: Asumir con responsabilidad cada caso, brindando un servicio de calidad y cumpliendo con los plazos establecidos.
          </p>
          <p class="card-text">
            SERVICIO AL CLIENTE: Atender las necesidades de los asegurados y aseguradoras con empatía, respeto y profesionalismo, buscando siempre su satisfacción.
          </p>
          <p class="card-text">
            ACTUALIZACIÓN CONSTANTE: Mantenerse al día con las últimas novedades en materia de vehículos, tecnologías y regulaciones del sector asegurador.
          </p>
        </div>
      </div>
    </div>
  </div>
  
</section>
</body>