<main class="main-bg">
  <img src="../../../assets/clientes.jpg" alt="" />
  <div class="main-container">
    <h1 class="titulos">NUESTROS CLIENTES</h1>
  </div>
</main>
<section id="clientes-section">
  <div class="clientes-container">
    <h3>
      La trayectoria y los clientes avalan el cumplimiento de nuestra labor
      diaria.
    </h3>
    <div class="row">
      <div class="slider-track">
        <img
          src="https://8b7deb62b7.clvaw-cdnwnd.com/bf09915b2c89e9079adeb3221c0520f7/200000065-e05e9e05ee/450/mercantil-andina.webp?ph=8b7deb62b7"
          alt=""
        />
        <img
          src="https://8b7deb62b7.clvaw-cdnwnd.com/bf09915b2c89e9079adeb3221c0520f7/200000065-e05e9e05ee/450/mercantil-andina.webp?ph=8b7deb62b7"
          alt=""
        />
        <img
          src="https://8b7deb62b7.clvaw-cdnwnd.com/bf09915b2c89e9079adeb3221c0520f7/200000065-e05e9e05ee/450/mercantil-andina.webp?ph=8b7deb62b7"
          alt=""
        />
        <img
          src="https://8b7deb62b7.clvaw-cdnwnd.com/bf09915b2c89e9079adeb3221c0520f7/200000065-e05e9e05ee/450/mercantil-andina.webp?ph=8b7deb62b7"
          alt=""
        />
        <img
          src="https://8b7deb62b7.clvaw-cdnwnd.com/bf09915b2c89e9079adeb3221c0520f7/200000065-e05e9e05ee/450/mercantil-andina.webp?ph=8b7deb62b7"
          alt=""
        />
        <img
          src="https://8b7deb62b7.clvaw-cdnwnd.com/bf09915b2c89e9079adeb3221c0520f7/200000065-e05e9e05ee/450/mercantil-andina.webp?ph=8b7deb62b7"
          alt=""
        />
        <img
          src="https://8b7deb62b7.clvaw-cdnwnd.com/bf09915b2c89e9079adeb3221c0520f7/200000065-e05e9e05ee/450/mercantil-andina.webp?ph=8b7deb62b7"
          alt=""
        />
        <img
          src="https://8b7deb62b7.clvaw-cdnwnd.com/bf09915b2c89e9079adeb3221c0520f7/200000065-e05e9e05ee/450/mercantil-andina.webp?ph=8b7deb62b7"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
