<main class="main-bg">
  <img
    src="../../../assets/servicios.jpg"
    alt=""
  />
  <div class="main-container">
    <h1 class="titulos">{{text}}</h1>
  </div>
</main>
<section id="section-servicios">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="titulo-servicio">Gestión de siniestros</h3>
                <p class="descripcion-servicio">
                    Brindamos un servicio de gestión de siniestros que abarca desde la coordinación de visitas in situ y remotas hasta la negociación y cierre de acuerdos, incluyendo la licitación de repuestos y la verificación final de los trabajos. Nuestra metodología, basada en una estrecha colaboración entre los equipos administrativos y técnicos,
                    asegura la optimización de los tiempos de respuesta y la calidad de las soluciones.
                </p>
            </div>
            <div class="col-6">
                <h3 class="titulo-servicio">Auditoria externa de siniestros</h3>
                <p class="descripcion-servicio">
                    La transparencia y la eficiencia son pilares fundamentales en nuestra gestión de siniestros.
                    Para garantizar esto, llevamos a cabo auditorías rigurosas en todas las etapas del proceso,
                    desde las peritaciones iniciales hasta la entrega del vehículo reparado.
                    Además, ofrecemos un servicio integral que incluye asesoramiento y propuestas de mejora,
                    con el objetivo de brindar a nuestros clientes la mejor experiencia posible.
                </p>
            </div>
        </div>
        <div class="row">
          <div class="col-6">
              <h3 class="titulo-servicio">Talleres integrales especializados</h3>
              <p class="descripcion-servicio">
                Servicios Profesionales en Electrónica, Mecánica, Chapa y Pintura para el diagnóstico, mantenimiento, reparación y
                personalización de vehículos. Combinamos tecnología avanzada, materiales de alta calidad y un equipo de expertos
                para ofrecer soluciones integrales que garantizan la seguridad, el rendimiento y la estética de cada vehículo, 
                adaptándonos a las necesidades específicas de nuestros clientes y proporcionando resultados con los más altos estándares de excelencia.
              </p>
          </div>
          <div class="col-6">
              <h3 class="titulo-servicio">Grúas para traslados</h3>
              <p class="descripcion-servicio">
                Soluciones versátiles y confiables para la movilización de cargas de todo tipo, adaptándonos a las exigencias de cada proyecto. 
                Ofrecemos servicios personalizados que garantizan seguridad, eficiencia y
                precisión en el transporte de materiales pesados, equipos industriales y objetos especializados, 
                satisfaciendo las necesidades de nuestros clientes en diversos sectores y entornos operativos.
              </p>
          </div>
      </div>
    </div>
</section>
<section id="nosotros">
    <h1 id="titulo-nosotros">¿Por qué elegirnos?</h1>
    <div class="container">

        <div class="row">
            <div class="col-4">
              <div class="card" >
                <div class="circle">
                  <img src="../../../assets/icons8-user-groups-80 (1).png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Gestión Especializada</h4>
                  <p class="card-text">Equipo especializado en la coordinacion de pericias, realizacion y resolucion de conflictos en la gestion.</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" >
                <div class="circle">
                  <img src="../../../assets/icons8-calendar-80.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Cumplimiento Eficiente</h4>
                  <p class="card-text">Administracion y realizacion de las gestiones necesarias para el cumplimiento de plazos requeridos. </p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" >
                <div class="circle">
                  <img src="../../../assets/icons8-saving-80.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Reducción de Costos</h4>
                  <p class="card-text">Implementación de estrategias para la reducción de los costos asociados a siniestros.</p>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-2"></div>
            <div class="col-4 abajo">
              <div class="card" >
                <div class="circle">
                  <img src="../../../assets/icons8-world-80.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Alcance de Servicios</h4>
                  <p class="card-text">Extensión de la cobertura de servicios que incluye la Ciudad Autónoma de Buenos Aires, la Provincia de Buenos Aires y áreas del interior del país.</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" >
                <div class="circle">
                  <img src="../../../assets/icons8-workshop-80.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Talleres Especializados y Grúas para traslados</h4>
                  <p class="card-text">Servicios integrales de reparación, mantenimiento y transporte, con soluciones seguras y eficientes para vehículos, equipos y cargas pesadas.</p>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
            

        

    </div>
</section>

