.main-bg {
    height: 100dvh; /* Hace que el main ocupe el 100% del alto de la pantalla */
    width: 100%; /* Ocupa el 100% del ancho */
    overflow: hidden;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        filter: brightness(0.4) ;
    }


    .main-container{
        color: rgb(246, 246, 246);
        text-align: center;
        height: 100%;
        align-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        h1{
            font-size: 70px;
            font-family: "Prompt", sans-serif;
            font-weight: 200;
        }

        p{
            font-size: 15px;
        }
    }
    
    .titulos{
        filter: brightness(1);
        padding-bottom: 20px;
        padding-top: 20px;
    }
  }

#section-servicios{
    margin-top: 100px;
    margin-bottom: 100px;

    .container{
        width: 80%;

    }

    .titulo-servicio{
        text-align: center;
        margin-bottom: 25px;
        font-size: 28px;
        font-family: "Prompt", sans-serif;
    }

    .descripcion-servicio{
        margin-bottom: 20px;
        font-size: 16px;
        opacity: 0.7;
        word-spacing: 1.2px;
        min-height: 100px;
    }

    .lista-servicios{
        margin-bottom: 80px;
        font-size: 16px;
        opacity: 0.7;
    }
}  

#nosotros{
    height: 150dvh;
    background-color: rgba(1, 45, 63, 0.759);
    color: white;


    #titulo-nosotros{
        text-align: center;
        padding-top: 80px;
        font-size: 46px;
        font-family: "Prompt", sans-serif;
    }

    .row{
        margin-bottom: 60px;
    }

    .col-4{
        margin-top: 100px;
        text-align: center;

        .icono{
            opacity: 0.5;
            scale: 0.8;
        }
        .texto-nosotros{
            margin-top: 20px;
            font-size: 26px;
            margin-left: auto;
            margin-right: auto;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }
}
