<main class="main-bg">
  <img
    src="../../../assets/fondo_servicios.jpg"
    alt=""
  />
  <div class="main-container">
    <h1 class="titulos">NUESTROS SERVICIOS</h1>
  </div>
</main>
<section id="section-servicios">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="titulo-servicio">Gestión de siniestros</h3>
                <p class="descripcion-servicio">
                    Brindamos un servicio de gestión de siniestros que abarca desde la coordinación de visitas in situ y remotas hasta la negociación y cierre de acuerdos, incluyendo la licitación de repuestos y la verificación final de los trabajos. Nuestra metodología, basada en una estrecha colaboración entre los equipos administrativos y técnicos,
                    asegura la optimización de los tiempos de respuesta y la calidad de las soluciones.
                </p>
            </div>
            <div class="col-6">
                <h3 class="titulo-servicio">Auditoria externa de siniestros</h3>
                <p class="descripcion-servicio">
                    La transparencia y la eficiencia son pilares fundamentales en nuestra gestión de siniestros.
                    Para garantizar esto, llevamos a cabo auditorías rigurosas en todas las etapas del proceso,
                    desde las peritaciones iniciales hasta la entrega del vehículo reparado.
                    Además, ofrecemos un servicio integral que incluye asesoramiento y propuestas de mejora,
                    con el objetivo de brindar a nuestros clientes la mejor experiencia posible.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="nosotros">
    <h1 id="titulo-nosotros">¿Por qué elegirnos?</h1>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="../../../assets/icons8-medal-80.png" alt="" class="icono">
                <p class="texto-nosotros">Staff de inspectores certificados en CESVI. </p>
            </div>
            <div class="col-4">
                <img src="../../../assets/icons8-user-groups-80.png" alt="" class="icono">
                <p class="texto-nosotros">Equipo administrativo para satisfacer las demandas on-line.  </p>
            </div>
            <div class="col-4">
                <img src="../../../assets/icons8-globe-80.png" alt="" class="icono">
                <p class="texto-nosotros">Cobertura de servicio en CABA, Bs As e interior del país.  </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="../../../assets/icons8-ophthalmology-80.png" alt="" class="icono">
                <p class="texto-nosotros">Detección temprana de Fraudes.  </p>
            </div>
            <div class="col-4">
                <img src="../../../assets/icons8-money-box-80.png" alt="" class="icono">
                <p class="texto-nosotros">Reducción de costo por siniestro.  </p>
            </div>
            <div class="col-4">
                <img src="../../../assets/icons8-clock-80.png" alt="" class="icono">
                <p class="texto-nosotros">Cumplimiento de plazos establecidos.  </p>
            </div>
        </div>
    </div>
</section>