.navbar{
    height: 10dvh;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.816);
    backdrop-filter: blur(1px);
    box-shadow: 0px 4px 8px rgba(252, 251, 251, 0.151);
}



.navbar-brand{
    font-size: 28px;
    font-family: "Merriweather", serif;
}

.nav-link{
    font-size: 0.8rem;
    letter-spacing: 2px;
    margin-right: 20px;
    transition: 0s;
    color: #000000;
    font-weight: bold;
}

.nav-link:hover{
    color: #000;
}

.nav-link.active{
    border-bottom: 2px solid black;
}

.container-fluid{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

@media (max-width: 991.97px) {
    .navbar-nav {
        text-align: center;
        margin-top: 10px;
        background-color: rgba(5, 5, 5, 0.799);
        box-shadow: 0 1px 10px black;
    }

    .nav-link {
      display: inline-block;
      padding: 10px 0; /* Espaciado vertical entre enlaces */
      color: rgb(247, 247, 247);
      text-shadow: 0 1px 8px black;
      margin-bottom: 10px;
    }

    .nav-link:hover{
        border-bottom: solid 3px rgb(255, 255, 255);
        color: white;
    }

    /* Opcional: Cambiar colores activos */
    .nav-link.active {
      border-bottom: solid 3px rgb(255, 255, 255);
      font-weight: bold;
      color: #ffffff !important;
    }
}
  