.footer{
    height: 20dvh;
    width: 100%;
    background-color: #f7f5f1;
    text-align: center;
    align-content: center;
    opacity: 0.9;

    .footer-container{
        padding-top: 10px;
    }

    #estudio{
        letter-spacing: 3px;
    }

    #patitucci{
        font-family: "Special Elite", system-ui;
        padding-top: 5px;
        letter-spacing: 1px;
    }

    p{
        font-size: 15px;
    }

    #cesvi{
        color: red;
        font-weight: 600;
    }
}