.footer{
    height: 20dvh;
    width: 100%;
    background-color: #f7f5f1;
    text-align: center;
    align-content: center;
    opacity: 0.9;

    p{
        font-size: 14px;
        font-style: italic;
        opacity: 0.8;
    }
}